@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>side navigation go <a href="https://colorlib.com/wp/bootstrap-sidebar/">here</a> </p>
</div>
