@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>side navigation go <a href="https://colorlib.com/wp/bootstrap-sidebar/">here</a> </p>
    <span class="text-success fa fa-search"></span><span>test</span>
    <div>
        <a  class="nav-link text-primary" asp-area="admin" asp-action="Index" asp-controller="Roles" title="Roles">Roles</a>
    </div>

</div>
